* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}
header {
    text-align: center;
    
}
#header {
    font-weight: normal;
    font-size: 50px;
}
a {
    color: aquamarine;
    font-size: 16px;
}
img {
    display: block;
    margin: 0 auto;
    padding: 20px;
}
#link {
    margin: 20px;
}
#video {
    margin: 0 auto;
    display: block;
}

#heading {
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    margin: 40px;
    
}
#description {
    font-size: 21px;
    color: gray;
    text-align: center;
    margin: 20px;
}

footer * {
    text-align: center;
}
#text {
    text-align: right;
}