* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}
header {
    text-align: center;
    
}
#header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}
a {
    color: aquamarine;
    font-size: 16px;
}
#link {
    margin: 20px;
}
